@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style type="text/css">
        img {
            height: 200px;
            width: 200px;
            padding:2px;
        }
    </style>
    
</head>

<body>
    <h1>This is Ibrahim Page</h1>



    <img src="https://images.pexels.com/photos/68672/beach-beverage-caribbean-cocktail-68672.jpeg?auto=compress&cs=tinysrgb&h=350" />
    <img src="https://img1.coastalliving.timeinc.net/sites/default/files/styles/4_3_horizontal_inbody_900x506/public/image/2016/10/main/lanikai-beach-oahu-hawaii-517639994.jpg?itok=4asX39xr" />
    <img src="https://cdn.thecrazytourist.com/wp-content/uploads/2017/09/ccimage-shutterstock_254142592-770x430.jpg" />
    <br/>
    <button> Submit</button>

    <script type="text/javascript" src="~/Scripts/JQueryMe.js"></script>
</body>
</html>